<!DOCTYPE html>
<html>
<head>
  <title>Pawn Moved</title>
</head>
  <body>
    <h1>Chess Board - Pawn Movement</h1>
    <h2>Output</h2>
      <p><%= @move_piece.inspect %></p>
    <br>
  </body>
</html>
